$HEADER-HEIGHT: 50px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - $HEADER-HEIGHT - $NAVIGATION-HEIGHT - $FOOTER-HEIGHT);
  }
  &__images__container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    max-width: min-content;
    height: fit-content;
  }
}
