.images {
  column-count: 3;
  column-gap: 24px;
  padding: 0 24px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__item {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
  }
}
