.dialog {
  max-width: 1399px;
  width: 90vw;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  scrollbar-gutter: stable;
  transform: translate(-50%, -50%);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;

    &__left {
      display: flex;
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        border-radius: 50%;
      }
    }
    &__user {
      display: flex;
      flex-direction: column;
    }
    &__right {
      display: flex;
      gap: 8px;
    }
    &__close {
      border: 0;
      background-color: transparent;
      width: 32px;
      height: 32px;
      mask-image: url("/src/assets/images/close.svg");
      background-color: $color-gray-800;
      mask-size: contain;
      cursor: pointer;
      margin-left: 24px;
    }
  }
  &__wrapper {
    padding: 10px 20px;
  }
  &__content {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }
  &__footer {
    padding: 24px 0 48px 0;
    &__wrapper {
      display: flex;
    }
    &__info {
      width: 160px;
    }
  }
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
